.link {
    text-decoration: none;
    margin-right: 0.5rem;
    transition: all 0.2s;
}
.link:hover {
    text-decoration: underline;
    color: #60a5fa; /* azul-400 */
}
.active-link {
    color: #3b82f6; /* azul-500 */
    font-weight: bold;
}